.main-container {
  display: flex;
  flex-direction: column;
  width: 75vw;
  align-items: center;
  margin-top: 10vw;
  min-height: 90vh;
}

@media screen and (max-width: 426px) {
  .main-container {
    width: 100vw;
    /* min-height: 91.5vh; */
    height: 10vh;
    margin-top: 25vw;
  }
}
