.edit-post-heading {
  margin: 10px;
}
.edit-post-buttons {
  display: flex;
  margin: 15px;
  height: 5.5vw;

  width: 29vw;
}
.delete-post-button {
  width: 45%;
  background-color: #3c1717;
  color: yellow;
  padding: .9vw 1.3vw .9vw 1.5vw;;
  margin-top: 1.7vw;
  /* margin-left: -2.1vw; */
  border-top-left-radius: 30pt;
  border-bottom-left-radius: 30pt;
  text-align: left;
}
.edit-post-content-input {
  right: 0;
}
#edit-post-submit {
  width: 75%;
  text-align: center;
}
