.edit-profile-division {
  margin: 2vw 0 2vw 12px;
} 
.mobile-profile-display {
  display: none;
}

@media screen and (max-width: 426px) {
  .mobile-profile-display {
    display: flex;
  }
  .mobile-profile-pic-container {
    width: 35vw;
  }
  .mobile-profile-pic {
    width: 100%;
  }
}