form {
  color: yellow;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  background-color: rgba(128, 128, 128, .75);
  padding: 2vw;
  text-align: right;
}
.form-heading {
  text-align: center;
  /* text-decoration: underline; */
  margin-bottom: 20px;
  font-weight: 800;
  /* color: rgb(250, 234, 54); */
  /* -webkit-text-stroke: 1px red; */
}
input,
textarea {
  margin: 1.5vw;
  margin-right: 0;
  width: 15vw;
}
textarea {
  height: 75px;
}
.textarea-label-input {
  display: flex;
  align-items: center;
}
.red-submit {
  width: 40%;
  background-color: #fa3636;
  color: yellow;
  padding: .5vw;
  margin: 15px auto;
}
.create-edit-post-form {
  margin-top: 5vw;
}
