form {
  color: yellow;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  background-color: rgba(29, 29, 29, 0.75);
  border: 2vw solid rgba(128, 128, 128, 0.75);
  border-bottom: 5.5vw solid rgba(128, 128, 128, 0.75);
  padding: 2vw;
  text-align: right;
  position: relative;
  border-radius: 7pt;
}
.form-heading {
  text-align: center;
  /* text-decoration: underline; */
  margin: 1.5vw;
  font-weight: 800;
  font-size: 2.2vw;
  /* color: rgb(250, 234, 54); */
  /* -webkit-text-stroke: 1px red; */
}
label {
  font-size: 2vw;
}
input,
textarea {
  margin: 1.5vw;
  margin-right: 0;
  width: 15vw;
  border: 1px solid black;
  padding: 0.5vw;
  font-size: 1.75vw;
}
.label-input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
textarea {
  height: 75px;
  /* align-items: flex-end; */
}
.textarea-label-input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
select {
  height: 1.9vw;
  min-height: 25px;
  max-height: 47px;
}
.red-submit {
  width: 50%;
  /* background-color: #fa3636; */
  background-color: rgb(161, 29, 161);
  color: white;
  padding: 0.5vw;
  margin-top: 1.7vw;
  margin-left: -2.1vw;
  border-top-left-radius: 30pt;
  border-bottom-left-radius: 30pt;
  border: 2px solid black;
  position: absolute;
  bottom: -4.5vw;
  right: 0;
  font-size: 1.65vw;
  height: 4vw;
}
.create-edit-post-form {
  margin-top: 5vw;
  text-align: right;
}

@media screen and (max-width: 426px) {
  form {
    margin-top: 20vw;
    border-bottom: 10vw solid rgba(128, 128, 128, 0.75);
  }
  input,
  textarea {
    width: 45vw;
  }
  .form-heading {
    font-size: 4vw;
  }
  label {
    font-size: 3.2vw;
  }
  .red-submit {
    height: 7vw;
    bottom: -8.5vw;
    font-size: 3vw;
  }
}
