.login-div {
  margin-top: 8vw;
}
.login-button {
  text-align: center;
}
.login-register {
  /* color: rgb(247, 103, 103); */
  color: white;
  text-decoration: none;
  padding: .5vw;
  border-top-right-radius: 30pt;
  border-bottom-right-radius: 30pt;
  border: 2px solid black;
  width: 35%;
  background-color: rgb(90, 15, 90);
  font-size: 1.5vw;
}
.login-submit {
  width: 55%;
  color: white;
  border-top-left-radius: 30pt;
  border-bottom-left-radius: 30pt;
  background-color: rgb(161, 29, 161);
  font-size: 1.6vw;
  border: 2px solid black;
}
.login-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 3vw;
  position: absolute;
  bottom: -4vw;
  width: 100%;
  left: 0;
}

@media screen and (max-width: 426px) {
  .login-div {
    text-align: center;
  }
  .login-buttons {
    height: 6.5vw;
    bottom: -8vw;
  }
  .login-register,
  .login-submit {
    font-size: 2.5vw;
    line-height: 4.5vw;
  }
}