.login-div {
  margin-top: 8vw;
}
.login-button {
  text-align: center;
}
.login-register {
  color: rgb(247, 103, 103);
  text-decoration: none;
  padding: .5vw;
  border-top-right-radius: 30pt;
  border-bottom-right-radius: 30pt;
  border: 2px solid black;
  width: 40%;
}
.login-submit {
  width: 60%;
  background-color: rgb(250, 54, 54);
  color: yellow;
  border-top-left-radius: 30pt;
  border-bottom-left-radius: 30pt;
}
.login-buttons {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}
