.register-form {
  text-align: right;
  /* margin-top: 2vw; */
}
.register-heading {
  text-align: center;
}
.red-submit {
  width: 40%;
  background-color: #fa3636;
  color: yellow;
  padding: .5vw;
  margin: 15px auto;
}
.division-div {
  margin: 1.5vw 0;
}
.division {
  width: 15vw;
  margin-left: 12px;
}