.register-form {
  text-align: right;
  margin-top: 2vw;
}
.division-div {
  margin: 1.5vw 0;
}
.division {
  width: 15vw;
  margin-left: 12px;
}

@media screen and (max-width: 426px) {
  .register-form {
    margin-top: 25vw;
  }
  .division {
    width: 45vw;
  }
}
