.comment-card {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(233, 231, 230, 0.5);
  color: rgb(89, 8, 250);
}
.show-comment-content {
  padding: 0 2vw;
}
.comment-buttons {
  align-self: flex-end;
}
.comment-button-edit {
  padding: 0.3vw 2vw;
  border: 2px solid black;
  background-color: rgb(220, 172, 127);
}
.comment-button-delete {
  padding: 0.3vw 1vw;
  border-top-left-radius: 30pt;
  border-bottom-left-radius: 30pt;
  border: 2px solid black;
  background-color: rgb(130, 102, 159);
}
.comment-change-textarea {
  width: 100%;
  border: 1px solid black;
  padding: .5vw;
  margin: 0;
}