.post-card {
  box-sizing: unset;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 2vw;
  margin-left: 8vw;
  border-radius: 5px;
  padding: 2vw;
  background-color: rgba(128, 128, 128, .75);
  width: 30vw;
  align-items: center;
  color: white;
  border-radius: 2%;
}
.post-card-content {
  background-color: rgba(0, 0, 0, .75);
  padding: 1vw;
  padding-bottom: 0;
  border-radius: 2%;
}
.post-image-container {
  width: 30vw;
  margin-bottom: .5vw;
}
.post-image {
  width: 100%;
}
.postcard-buttons {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-end;
  margin-top: 1vw;
  width: 60%;
}
.postcard-button {
  border-top-right-radius: 20pt;
  border-bottom-right-radius: 20pt;
  padding: 1vw;
  width: 20vw;
}
.postcard-button-row {
  display: flex;
}
.pcb-edit {
  background-color:rgb(244, 148, 244); 
}
.pcb-comments {
  background-color: rgb(250, 202, 151);
}
.pcb-spacer-1 {
  width: 100%;
  border: 2px solid blue;
}
.pcb-spacer-2 {
  width: 10vw;
}
.pcb-s-edit {
  background-color:rgb(244, 148, 244); 
}
.pcb-s-comments {
  background-color:rgb(250, 202, 151);
}