.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
  position: fixed;
  width: 100vw;
}
.tenforward-banner {
  width: 40vw;
}
.create-post-button {
  background-color: #30AAD2;
  padding: .45vw;
  font-weight: 600;
  margin-right: .15vw;
  width: 8.75vw;
  font-size: 1.25vw;
}

@media screen and (max-width: 1120px) {
  .create-post-button {
    width: 10vw;
    height: 4vw;
  }
}