.side-bar {
  width: 28vw;
  height: 100vh;
  border: 2px solid black;
  text-align: center;
  background-color: rgba(128, 128, 128, .75);
  position: fixed;
  margin-top: 10.5vw;
  color: white;
  border-top-right-radius: 4%;
}
.guinan-landing {
  margin-top: 5vw;
}
.profile-info {
 padding-top: 1.5vw;
 width: 90%;
 /* border: 2px solid blue; */
}
.profile-image-container {
  width: 60%;
  margin: 0 auto;
}
.profile-image {
  width: 100%;
  border: 1px solid rgb(223, 197, 215);;
}
.guinan-pic {
  width: 80%;
}
.sidebar-guinan-button {
  background-color: #044B67;
  color: white;
  min-width: 30%;
  font-size: 1.5vw;
}
.welcome {
  font-size: 2vw;
  margin: 4vw;
}
.lcars-top-div {
  width: 100%;
  display: flex;
}
.lcars-top {
  height: 1.1vw;
}
.lcars-top-1 {
  width: 13%;
  background-color: purple;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.lcars-top-2 {
  width: 10%;
  background-color: orange;
  border: 2px solid black;
}
.lcars-top-3 {
  width: 35%;
  background-color: rgb(216, 107, 216);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.lcars-top-4 {
  width: 25%;
  background-color: purple;
  border: 2px solid black;
}
.lcars-top-5 {
  width: 15%;
  background-color: orange;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.lcars-top-6 {
  width: 10%;
  /* height: 25%; */
  background-color: orange;
  border-top-right-radius: 70vw;
  border-top: 2px solid black;
  border-right: 2px solid black;
}
.side-bar-main {
  display: flex;
  height: 100%;
}
.lcars-side-div {
  position: absolute;
  right: 0;
  top: 1vw;
  width: 10%;
}
.lcars-side-1 {
  height: 15vw;
  background-color: orange;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
/* .lcars-side-1a {
  height: 20vh;
  border-top-right-radius: 50%;
  background-color: orange;
} */
.lcars-side-2 {
  height: 10vh;
  background-color: rgb(216, 107, 216);
  border: 2px solid black;
}
.lcars-side-3 {
  height: 20vh;
  background-color:purple;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.lcars-side-4 {
  height: 7vh;
  background-color: purple;
  border: 2px solid black;
}
.lcars-side-5 {
  height: 7vh;
  background-color: rgb(250, 202, 151);
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.lcars-side-6 {
  height: 30vh;
  background-color: orange;
  border: 2px solid black;
}
.profile-name {
  color: yellow;
  font-size: 2.5vw;
}
.profile-stats {
  color: rgb(223, 197, 215);
  font-size: 2vw;
}
.profile-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.profile-button {
  width: 15vw;
  height: 30px;
  margin: 5px;
  border-top-right-radius: 30pt;
  border-bottom-right-radius: 30pt;
}
.prof-edit {
  background-color: rgb(244, 148, 244); 
}
.prof-logout {
  background-color: orange;
}
.lcars-communique {
  width: 20vw;
  height: 15vw;
  position: absolute;
  left: 2.5vw;
  bottom: 12vw;
  opacity: .75;
}