.side-bar {
  width: 25vw;
  height: 100vh;
  border: 2px solid black;
  text-align: center;
  background-color: rgba(128, 128, 128, .75);
  position: fixed;
  margin-top: 10vw;
  padding-top: 4vw;
  color: white;
}
.profile-image-container {
  width: 60%;
  margin: 0 auto;
}
.profile-image {
  width: 100%;
}
.guinan-pic {
  width: 80%;
}
.sidebar-guinan-button {
  background-color: #044B67;
  color: white;
  min-width: 30%;
  font-size: 1.5vw;
}
.welcome {
  font-size: 1.75vw;
}